global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend auth_front
  mode http
  bind :3000
  use_backend score_back if { path_beg /score/ }
  use_backend auth_back  if { path_beg /auth/ }
  use_backend core_back  if { path_beg /core/ }
  default_backend no_match

backend auth_back
  server ab1 auth_service_1:4000 check
  server ab2 auth_service_2:4000 check

backend score_back
  server sb1 score_service_1:4000 check

backend core_back
  server cb1 core_service_1:4000 check

backend no_match
  http-request deny deny_status 400
